.monthlyCalendar__monthBlock{
  min-height: 190px;

}

.monthlyCalendar__weekBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
}

.monthlyCalendar__weekNamesBox {
  flex-wrap: nowrap;
}

.monthlyCalendar__weekDays {
  text-align: center;
  vertical-align: center;
 flex-basis: 13%;
 min-height: 1rem;
 font-size: 14px;
 margin: 5px 0;
}

.monthlyCalendar__weekDays_withDate {
background-color: antiquewhite;
border-radius: 5px;
cursor: pointer;
}

.monthlyCalendar__selectedDate {
  background-color: lightcoral;
  color:white;
}

.monthlyCalendar__disableDate {
  background-color: inherit;
  border-radius: 5px;
  cursor: no-drop;
}
