.navigationPanel__selectPeriod {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 35px;
}

.navigationPanel__periodInfo {
  display: inline-block;
  color: lightcoral;
}

.navigationPanel__changePeriod {
  background-color: gainsboro;
  color: lightcoral;
  border-radius: 5px;
  cursor: pointer;
}
.navigationPanel__changePeriod:disabled{
  color: inherit;
}