
.app {
color: darkgray;
}

.app__title{
font-size: 1.2rem;
}
.app__dateTitle{
  font-size: 1.8rem;
  }

.app__dateBox {
  margin: auto;
  max-width: 800px;
 display:flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: center;
 flex-wrap: wrap;
}

.app__boxElement {
  flex-grow: 1;
  flex-basis: 320px;
  padding: 0 10px;
}

