
.app {
color: darkgray;
}


.app__dateBox {
  margin: auto;
  max-width: 800px;
 display:flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: center;
 flex-wrap: wrap;
}

.app__boxElement {
  flex-grow: 1;
  flex-basis: 320px;
  padding: 0 10px;
}